.cards {
  padding-top: 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
  max-width: 1280px;
  margin: 0 auto;
}

.cards__list {
  list-style-type: none;
  margin: 0;
  padding: 0 0 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  gap: 40px 20px;
  justify-content: center;
  max-width: 1280px;
}

@media screen and (max-width: 1320px) {
  .cards {
    max-width: 846px;
  }
}

@media screen and (max-width: 630px) {
  .cards__list {
    grid-template-columns: repeat(auto-fit, 288px);
    gap: 20px;
  }
}
