.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  opacity: 0;
  transition: visibility 0.5s linear 0s, opacity 0.5s linear;
}

.modal_is-open {
  visibility: visible;
  opacity: 1;
  transition: visibility 0.5s linear 0s, opacity 0.5s linear;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #ffffff;
  padding: 32px 50px;
  position: relative;
  box-sizing: border-box;
}

.modal__close-button {
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 32px;
  right: 50px;
  opacity: 40%;
}

.modal__close-button:hover {
  opacity: 100%;
  cursor: pointer;
}

.modal__title {
  margin: 0 0 32px;
  color: #212121;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
}

.modal__form {
  display: flex;
  flex-direction: column;
  max-width: 730px;
  gap: 32px;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: rgba(33, 33, 33, 0.7);
  font-weight: 500;
  font-size: 16px;
  line-height: 110%;
}

.modal__input {
  border-radius: 8px;
  border: 1px solid rgba(33, 33, 33, 0.4);
  padding: 16px 0 16px 12px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
}

.modal__input:hover {
  border: 1px solid rgba(33, 33, 33, 1);
}

.modal__input::placeholder {
  color: rgba(33, 33, 33, 0.3);
}

.modal__save {
  border-radius: 8px;
  width: 156px;
  padding: 18px 58px;
  box-sizing: border-box;
  color: #fcf5e5;
  background-color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  cursor: pointer;
}

@media screen and (max-width: 630px) {
  .modal__container {
    padding: 22px 12px 12px;
  }

  .modal__title {
    font-size: 20px;
  }

  .modal__input {
    font-size: 16px;
  }

  .modal__form {
    gap: 24px;
  }

  .modal__close-button {
    position: absolute;
    top: 12px;
    right: 12px;
  }

  .modal__save {
    max-width: none;
    width: 100%;
  }
}
